* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

h1,
p {
  text-align: center;  
}

.scores {
    text-align: left;
    color: cyan;
    padding-left: 20px;
}

.style {
    list-style: none;
}

.timer {
    text-align: right;
    color: crimson;
    padding-right: 20px;
}

.btn {
    border: none;
    background-color: cyan;
    border-radius: 12px;
    font-size: 20px;
    line-height: 22px;
    margin: 20px 16px 16px 20px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: auto;
}